.drawerPaper {
  background: var(--color-bg);
  color: #fff;
  width: 340px;
  max-width: 90vw;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}

.drawerContent {
  padding: 16px;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background: var(--color-bg);
}

.drawerTitle {
  color: var(--color-text);
  font-weight: 700;
  font-size: 2rem;
  margin: 24px 0 32px 0;
}
