.legendPanel {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  background: none;
  border-radius: 0;
  padding: 0;
  margin: 0.25rem 0 0 0;
  box-shadow: none;
}

.legendItem {
  font-size: 1.05rem;
  font-weight: 400;
  color: var(--color-primary-dark);
  padding: 4px 10px;
  border-radius: 8px;
  background: none;
  cursor: pointer;
  user-select: none;
  border: none;
  transition:
    background 0.15s,
    color 0.15s,
    border 0.15s;
}

.legendItemActive {
  color: var(--color-primary);
  font-weight: 500;
  background: none;
  border: none;
}

.legendItemInactive {
  color: #bdbdbd;
  background: none;
  border: none;
  text-decoration: line-through;
}

.legendItem:hover {
  background: var(--color-primary-light);
  color: #fff;
  border-radius: 8px;
}
